{% extends 'index.html.twig' %}

{% block header %}
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/item.css') }}" rel="stylesheet"/>
{{ parent() }}


{% endblock %}


{% block body %}
  <body>
  <div class="container">
    <div class="content_header">
        <div class="content_name">
            <p class = "content_name_text"> {{ name }} </p>
        </div>
    </div>

    <div class="items_wrapper">
      <div class="content_sorting">
          <p class = "list_name">{{ name }}</p>
          {% for category in categories %}
              <div class="category_name_list">
                  <div class="list_mark">
                  <img class = "list_mark" src="https://img.icons8.com/external-gradak-royyan-wijaya/24/000000/external-circle-gradak-music-gradak-royyan-wijaya.png"/>
                  </div>
              <li class = "category_name"> <a class = "category_name" href="#">{{ category.name }}</a></li>
              </div>
          {% endfor %}
      </div>

        <div class="content_items">

            {% for item in items %}

                <div class="item">
                    <a href="{{ path('show-one', {'id':item.id}) }}">
                        <div class="item_header">
                            <img class="item_hero" src="{{ item.img }}">
                            {{ item.name }}
                            <p>{{ item.price }}</p>
                        </div>
                    </a>
                    <div class="item_button">
                        <button>
                            Kup teraz
                        </button>
                    </div>
                </div>

            {% endfor %}

        </div>
      </div>


    </div>
  </div>
  </body>
{% endblock %}







