{% extends 'index.html.twig' %}

{% block header %}
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/item.css') }}" rel="stylesheet"/>
{{ parent() }}


{% endblock %}


{% block body %}
  <body>
  <div class="container">
    <div class="contentHeader">
        <div class="contentent_name">
            <p> {{ name }} </p>
        </div>

    </div>

    <div class="itemsWrapper">
      <div class="contentSorting">
          <p>{{ name }}</p>
        <li>opcja</li>
        <li>opcja</li>
        <li>opcja</li>
        <li>opcja</li>
        <li>opcja</li>
        <li>opcja</li>
        <li>opcja</li>
      </div>

      <div class="contentItems">

        {% for item in items %}

          <div class="item">
              <a href="{{ path('show-one', {'id':item.id}) }}">
              <div class="itemHeader">

                   <img class="itemHero" src="{{ item.img }}">
                   {{ item.name }}
                  <p>{{ item.price }}</p>
              </div>
              </a>
              <div class="itemButton">
                  <button>
                     Kup teraz
                  </button>
              </div>
          </div>

        {% endfor %}

      </div>
    </div>
  </div>
  </body>
{% endblock %}







