{% extends 'index.html.twig' %}

{% block header %}
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/item.css') }}" rel="stylesheet"/>
{{ parent() }}


{% endblock %}


{% block body %}
  <body>
  <div class="container">
    <div class="content_header">
        <div class="content_name">
            <p class = "content_name_text"> {{ category_name }} </p>
        </div>
    </div>

    <div class="items_wrapper">
      <div class="content_sorting">
          <div class="list_name">
          <p class = "list_name_text">{{ name }}</p>
          </div>
          {% for category in categories %}
              <div class="category_name_list">
                  <div class="list_mark">
                  <img class = "list_mark" src="https://img.icons8.com/material-rounded/24/000000/sort-right.png"/>
                  </div>
              <li class = "category_name"> <a class = "category_name" href="#">{{ category.name }}</a></li>
              </div>
          {% endfor %}
      </div>

        <div class="content_items">

            {% for item in items %}

                <div class="item">
                    <a class = "item_content" href="{{ path('show-one', {'id':item.id}) }}">
                        <div class="item_image">
                            <img class = "item_image_content"src="{{ item.img }}" alt="">
                        </div>
                        <div class="item_name">
                            <p class = "item_name_text">{{ item.name }}</p>
                        </div>
                    </a>
                </div>

            {% endfor %}

        </div>
      </div>
    </div>
  </div>
  </body>
{% endblock %}







