{% extends 'index.html.twig' %}

{% block header %}
    {{ parent() }}
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/show.css') }}" rel="stylesheet"/>
    <head>
        <title>Buy {{ item.name }}</title>
    </head>


{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <div class="row">
            <div class="item_image">
                <div class="image_content">
                    <img class = "image" src="{{ item.img }}">
                </div>
            </div>
            <div class="item_inf">
                <div class="item_name">
                    <h1 class = "item_name_text">{{ item.name }}</h1>
                </div>
                <div class="add_review">
                    <a  class = review_link href="#comments">
                    <div class="review_button">
                    <p class="review_text" >Add review</p>
                    </div>
                    </a>
                    <div class="stars">
{#                        <img src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/000000/external-rating-customer-service-xnimrodx-lineal-xnimrodx.png"/>#}
                        <img class = "star" src="https://img.icons8.com/fluency-systems-regular/48/000000/rating.png"/>
                        <img class = "star" src="https://img.icons8.com/fluency-systems-regular/48/000000/rating.png"/>
                        <img class = "star" src="https://img.icons8.com/fluency-systems-regular/48/000000/rating.png"/>
                        <img class = "star" src="https://img.icons8.com/fluency-systems-regular/48/000000/rating.png"/>
                        <img class = "star" src="https://img.icons8.com/fluency-systems-regular/48/000000/rating.png"/>
                    </div>
                </div>
                <div class="price">
                    <p class = "price_text">{{ item.price }}$</p>
                </div>
                <div class="buy_now">
                    <div class="buy_button">
                    <a class = "buy_button_text" href="#">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="details_name">
                <p class = "details_name_text">Details</p>
            </div>
            <div class="details_description">
                <p class = "details_description_text">{{ item.description }}</p>
            </div>
        </div>

            <div class="row">
                <div class="comment_form">
                    <div class="form_name">
                        <p id = "comments" class = "form_name_text">Add review</p>
                    </div>
                    <form  method="post">
                        <div class="comment_form_inner">
                        <div class="form_email">
                            <label for="email">email</label>
                            <input  class = "email_input" id = "email" type="email" name="email">
                        </div>
                        <div class="form_comment">
                            <label for="comment">comment</label>
                            <input  class = "comment_input" id = "comment" type="text" name="comment">
                        </div>
                        <div class="form_rating">
                            <label for="rating">rating</label>
                            <button id = "rating1" value = 1>1</button>
                            <button id = "rating3" value = 1>2</button>
                            <button id = "rating4" value = 1>3</button>
                            <button id = "rating5" value = 1>4</button>
                            <button id = "rating6" value = 1>5</button>

{#                            <input  class = "rating_input" id = "rating" type="int" name="rating">#}
                        </div>
                        <div class="form_button">
                        <button type="submit">Post Review</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>


        <div class="row">
            <div  class="comments">
                <div class="comments_name">
                    <p>Reviews</p>
                </div>
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment_email">
                            {{ comment.email }}
                        </div>
                        <div class="comment_content">
                            {{ comment.comment }}
                        </div>
                        <div class="rating_content">
                            {{ comment.rating }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </body>

{% endblock %}

