{% extends 'index.html.twig' %}


{% block header %}
    {{ parent() }}
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/reg_log.css') }}" rel="stylesheet"/>
    <head>
        <title>Registration</title>
    </head>

{% endblock %}

{% block body %}

    <div class="container">
        <div class="form_inner">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <div class="reg_name">
                <h1 class = "title">Registration</h1>
            </div>
            <div class="form_content">

            {{ form_start(registrationForm) }}
                <div class="form_email">
                    {{ form_row(registrationForm.email) }}
                </div>

                <div class="form_pass">

            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
                </div>

            {{ form_row(registrationForm.agreeTerms) }}
            </div>

            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}

        </div>
    </div>






{% endblock %}



